{
  "printWidth": 120,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "trailingComma": "es5",
  "parser": "babel",
  "tabWidth": 2
}
